.white {
    color: white;
}

.list-group li {
    padding: 0;
    margin-bottom: 3px;
}

.box-meta {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 0.9em;
    color: #5f5f5f;
    background: #c1d4d54d;
}

.task-title {
    padding: 10px;
    text-align: center;
    background: #c1d4d5;
    color: #092c2c;
}

.box-action button {
    font-size: 10px;
    margin: 0 5px;
}

.box-action:before {
    width: 10px;
}

.todo-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.done {
    background: #63b463;
    text-decoration: line-through;
}



.form-control {
    font-size: 14px;
}

::-webkit-input-placeholder {
   font-size: 13px!important;
}

:-moz-placeholder {
      font-size: 13px!important;
}
::-moz-placeholder {
      font-size: 13px!important;
}